{% load static %}

<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <script>window.__PUBLIC_PATH__ = '/static/frontend/bootstrap-italia/fonts';</script>

    <title>gis3w_suite-frontend</title>
    <link href="{% static "frontend/bootstrap-italia/js/bootstrap-italia.bundle.min.js" %}" rel=preload as=script>
    <link href="{% static "frontend/css/app.css" %}" rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but gis3w_suite-frontend doesn't work properly without JavaScript enabled. Please enable
    it to continue.</strong></noscript>
<script>
    window.IS_PA = {{ IS_PA|yesno:"true,false" }};
    window.API_BASE_URL = '{{ API_BASE_URL }}';
    window.PORTAL_SECTIONS = {{ PORTAL_SECTIONS|safe }}
    window.ADMIN_BTN = {{ ADMIN_BTN }}
</script>
<div id=app></div>
<script src="{% static "frontend/js/chunk-vendors.js" %}"></script>
<script src="{% static "frontend/js/app.js" %}"></script>
</body>
</html>
