{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}
{% load guardian_tags %}



{% block page_header %}
<h1>
{% trans 'Portal pictures' %}
</h1>
{% endblock %}


{% block main_content %}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box">
            <div class="box-body">
                {% trans 'Add, update or delete portal picture' %}
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <div class="box-header">
            <h3 class="box-title">
                <a href="{% url 'portal-picture-add' %}" class="btn btn-info"><i class="ion ion-plus-circled"></i> {% trans 'Pictures' %}</a>
            </h3>
        </div>
    </div>
    <div class="box-body">
        <table id="layers_table" class="table table-hover table-striped" data-widget-type="dataTable">
            <thead>
                <tr>
                    <th style="width:120px">Actions</th>
                    <th>{% trans 'Image' %}</th>
                    <th>{% trans 'Author' %}</th>
                    <th>{% trans 'Author url' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr id="picture_{{ object.pk }}">
                    <td>
                        <span class="col-xs-6 icon">
                            <a href="{% url 'portal-picture-update' object.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                        </span>
                        <span class="col-xs-6 icon">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"  data-widget-type="deleteItem" data-delete-url="{% url 'portal-picture-delete' object.pk %}" data-item-selector="#picture_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                        </span>
                    </td>
                    <td>
                        <img style="height:60px;" class="img-responsive" src="{{ MEDIA_URL }}{{ object.image }}" />
                    </td>
                    <td>
                        {% if object.author %}{{ object.author }}{% endif %}
                    </td>
                    <td>
                        {% if object.author_url %}
                        <a href="{{ object.author_url }}" target="_blank">{{ object.author_url }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}