{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {# Fix relative URLs (eg. relative links and images within text) when we are working with an external API server  #}
    <base href="{{ API_BASE_URL }}" />
    <title>{{ admin_page_title }}</title>
    <link rel="icon" href="https://sit.comune.altamura.ba.it/img/favicon.ico">
    <script type="module" crossorigin src="https://sit.comune.altamura.ba.it/frontend/index.js"></script>
    <link rel="stylesheet" href="https://sit.comune.altamura.ba.it/frontend/assets/index.css">
    {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
        {% for css in SETTINGS.G3WSUITE_CUSTOM_CSS %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
    {% endif %}
    {% if SETTINGS.PORTAL_CUSTOM_CSS %}
        <style>{{ SETTINGS.PORTAL_CUSTOM_CSS | safe }}</style>
    {% endif %}
</head>
<body>
    <noscript><strong>You must enable JavaScript to continue.</strong></noscript>
    <script>
        {# TODO: add a new custom django setting or a dedicated rest API endpoint #}
        window.AUTH_MODE         = 'Bearer' {# 'cookie' | 'Bearer' | 'JWT' #}

        window.API_BASE_URL      = '{{ API_BASE_URL }}'
        window.LANGUAGES         = {{ LANGUAGES | safe }}
        window.PORTAL_ORG_NAME   = '{{ SETTINGS.PORTAL_ORG_NAME }}'
        window.PORTAL_ORG_URL    = '{{ SETTINGS.PORTAL_ORG_URL }}'
        window.PORTAL_FAVICON    = '{{ SETTINGS.PORTAL_FAVICON }}'
        window.PORTAL_NAVBAR_TOP = {{ SETTINGS.PORTAL_NAVBAR_TOP | yesno:"true,false" }}
    </script>
    <div id="app"></div>
    {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
        {% for js in SETTINGS.G3WSUITE_CUSTOM_JS %}
            <script src="{{ js }}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>
