@mixin trbl($t,$r,$b,$l) {
  top: $t;
  bottom: $r;
  left: $b;
  right: $l;
}

@mixin gis_gradient($angle, $start_color, $start_position, $end_color, $end_position ) {
  background: linear-gradient(#{$angle}deg, $start_color $start_position, $end_color $end_position);
}


