@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

$background_color: red;

$menu_width: 20%;
$header_height: 70px;

$icon_width: 15%;

$palette_viola_first: #f2055c;
$palette_viola_second: #f2137b;
$palette_viola_third: #4154bf;
$palette_viola_fourth: #160a40;

$gis_rounded_radius: 20px;
$gis_rounded_radius_l: 10px;





