@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

$background_color: red;

$menu_width: 20%;
$header_height: 70px;

$icon_width: 15%;

$palette_viola_first: #f2055c;
$palette_viola_second: #f2137b;
$palette_viola_third: #4154bf;
$palette_viola_fourth: #160a40;

$palette_1_first: #f2055c; //rgb(242,5,92)
$palette_1_second: #f2137b; //rgb(242,19,123)
$palette_1_third: #4154bf; //rgb(65,84,191)
$palette_1_fourth: #160a40; //rgb(22,10,64)

$palette_1_rgb_second: rgba(242, 19, 123, .8);
$palette_1_rgb_fourth: rgba(22, 10, 64, .8);

$palette_2_first: #75fff7; //rgb(117,255,247)
$palette_2_second: #82c4ff; //rgb(130,196,255)
$palette_2_third: #6b8ce8; //rgb(107, 140, 232)
$palette_2_fourth: #0000ff; //rgb(0, 0, 255)

$palette_2_rgb_second: rgba(130, 196, 255, .8);
$palette_2_rgb_fourth: rgba(0, 0, 255, .8);

$palette_3_first: #bdff00; //rgb(189, 255, 0)
$palette_3_second: #0088ab; //rgb(0, 136, 171)
$palette_3_third: #aba1a0; //rgb(171, 161, 160)
$palette_3_fourth: #333333; //rgb(51, 51, 51)

$palette_3_rgb_first: rgba(189, 255, 0, .8);
$palette_3_rgb_fourth: rgba(51, 51, 51, .8);

$gis_rounded_radius: 10px;
$gis_rounded_radius_l: 10px;

// red
$palette_red_first: rgb(175 11 34);
$palette_red_second: rgb(195 12 38);






