@import "common";
@import "portal_blue";
@import "portal_violet";
@import "portal_yellow";
@import "portal_red";

.info > div, .content {
  max-height: 85vh !important;
  overflow-y: auto;
}

.header {
  max-height: 10vh;
}

@keyframes loading {
  from {left: -100px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

.g3w-disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.5 !important;
}
.img_container:hover {
  text-decoration: none;
  color: inherit;
}

.bar-loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  margin: 3px 0 3px 0;
}

.bar-loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -100px;
  width: 100px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 1s linear infinite;
}

body:not(.pa) {
  position: relative;
  overflow-y: hidden;
  background-color: #E5E5E5;

  .font-lato {
    font-family: 'Lato', sans-serif;
  }

  .font-abril {
    font-family: 'Abril Fatface', cursive;
  }

  &:before {
    @extend .trbl-0;
  }

  //personalizzazione scrollbar

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: gray;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 127, 127, 0.5);
  }

  //placeholder color
  .form-control::-webkit-input-placeholder {
    color: white;
  }

  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder {
    color: white;
  }

  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder {
    color: white;
  }

  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder {
    color: white;
  }

  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder {
    color: white;
  }

  /* Microsoft Edge */
}


