@import "common";
@import "portal_blue";
@import "portal_violet";
@import "portal_yellow";
@import "portal_red";

body:not(.pa) {
  position: relative;
  overflow-y: hidden;


  .font-lato {
    font-family: 'Lato', sans-serif;
  }

  .font-abril {
    font-family: 'Abril Fatface', cursive;
  }

  &:before {
    @extend .trbl-0;
  }

  //personalizzazione scrollbar

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: gray;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 127, 127, 0.5);
  }

  //placeholder color
  .form-control::-webkit-input-placeholder {
    color: white;
  }

  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder {
    color: white;
  }

  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder {
    color: white;
  }

  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder {
    color: white;
  }

  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder {
    color: white;
  }

  /* Microsoft Edge */
}


