@import "variables";
@import "mixin";

body.violet {

  .gradient {
    @include gis_gradient(30, $palette_1_rgb_second, 0%, $palette_1_rgb_fourth, 50%);
  }

  .g3wButton {
    background-color: $palette_1_fourth !important;
    border: 1px solid $palette_1_third !important;
  }

  .tab-button{
    border-color: $palette_1_rgb_fourth;
  }

  .gis_active {
    background-color: $palette_1_rgb_fourth !important;
  }

  .tab-content {
    @include gis_gradient(30, $palette_1_rgb_second, 0%, $palette_1_rgb_fourth, 50%);
  }

}